*.pt
/assets
/__pycache__
/utils/__pycache__
/utils/__pycache__
/__pycache__
utils/ModelTrainer/utils/__pycache__/geo_utils.cpython-311.pyc
utils/ModelTrainer/utils/__pycache__/dataset.cpython-37.pyc
utils/ModelTrainer/utils/__pycache__/dataset.cpython-311.pyc
utils/ModelTrainer/utils/__pycache__/dataset.cpython-310.pyc
utils/ModelTrainer/models/__pycache__/UNet.cpython-311.pyc
utils/ModelTrainer/models/__pycache__/SGCNNet.cpython-311.pyc
utils/ModelTrainer/models/__pycache__/NlLinkNet.cpython-311.pyc
/utils/ModelTrainer/defaultModelWeights
__pycache__/main.cpython-311.pyc
utils/__pycache__/ee_downloader.cpython-311.pyc
utils/__pycache__/lang_segment_anything.cpython-311.pyc
utils/__pycache__/yolo_segment_anything.cpython-311.pyc
/temp
/dataset
/data
